@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --greenColor: #87ff65;
  --ligthGreenColor: #aceb98;
  --lightBlueColor: #a4c2a8;
  --blueColor: #5a5a66;
  --mainBlack: #2a2b2e;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  color: var(--mainBlack);
  background: var(--ligthGreenColor);
  font-family: "Montserrat", sans-serif;
}

/* ---------------Navbar------------------- */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: var(--greenColor);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.navbar-center ul {
  list-style-type: none;
}

.navbar-center li {
  float: right;
  padding: 0 10px;
}

.navbar-center a {
  text-decoration: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.menu-btn {
  position: relative;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--ligthGreenColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainBlack);
}
