@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --greenColor: #56ab91;
  --ligthGreenColor: #99e2b4;
  --lightBlueColor: #67b99a;
  --blueColor: #248277;
  --mainBlack: #036666;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  color: var(--mainBlack);
  background: var(--ligthGreenColor);
  font-family: "Montserrat", sans-serif;
}

/* ---------------Navbar------------------- */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: var(--greenColor);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.navbar-center ul {
  list-style-type: none;
}

.navbar-center li {
  float: right;
  padding: 0 10px;
}

.navbar-center a {
  text-decoration: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.menu-btn {
  position: relative;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--ligthGreenColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainBlack);
}

/* -----------Hero ----------------------- */

.hero {
  min-height: calc(100vh - 60px);
  background: url("/img/hero-background.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(153, 226, 180, 0.7);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--greenColor);
  color: var(--mainBlack);
  border: 1px solid var(--greenColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
}

/* -----------products------------------- */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--greenColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--ligthGreenColor);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--blueColor);
  text-align: center;
}

/* -----------cart ------------------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(153, 226, 180, 0.7);
  z-index: 2;
  /* visibility: hidden; */
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #99e2b4;
  padding: 1.5rem;
  transition: var(--mainTransition);
  /* transform: translateX(100%); */
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}
